<div class="panel panel-default">
  <div class="panel-heading"><strong>Extrato</strong></div>

  <div class="panel-body">
    <div class="page-header">
      <h4>Informe a data para tirar seu extrato</h4>  
    </div>
    

    <%= form_for @extract, url: extracts_path, method: :get do |f| %>
      <%= f.date_field :start_date, placeholder: 'data inicial' %>
      <%= f.date_field :end_date, placeholder: 'data final' %>

      <br><br>
      <%= f.submit 'Filtrar', class: 'btn btn- btn-success' %>
    <% end %>
  </div>
</div>