<div class="panel panel-default">
  <div class="panel-heading"><strong>Acessar conta</strong></div>

  <div class="panel-body">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="row">
        <div class="col-md-3">
          <%= f.input :email %>
        </div>
        
        <div class="col-md-3">
          <%= f.input :password %>
        </div>
      </div>

      <p><%= f.button :submit, "Logar", class: "btn btn-success" %></p>
    <% end %>
  </div>
</div>
